<div class="standings-wrapper">
	<h3>Standings</h3>
	<div class="standings-table-wrapper">
		<div class="table-scroll">
			<table>
				<thead>
					<tr>
						<th><span class="text">User</span></th>
						<th><span class="th-record">Record</span></th>
						<th><span class="th-record">Pick</span></th>
                        <th><span class="th-record">Pick(s) Submitted</span></th>
					</tr>
				</thead>
				<tbody>
					<% @users.map do |user| %>
                        <tr>
                            <% if user.name.nil? %>
							    <td class="td-name"><%= user.email %></td>
                            <% else %>
                                <td class="td-name"><%= user.name %></td>
                            <% end %>
							<td class="td-record"><%= user.fooicide_picks_record_by_year(@year) %></td>
                            <% pick = user.fooicide_pick_after_game_start(@year, @week) %>
                            <% if pick.try(:win?) %>
                                <td class="td-record-win"><%= pick.try(:team).try(:name) %></td>
                            <% elsif pick.try(:win) == false %>
                                <td class="td-record-loss"><%= pick.try(:team).try(:name) %></td>
                            <% else %>
                                <td class="td-record"><%= pick.try(:team).try(:name) %></td>
                            <% end %>
                            <% if user.fooicide_picks_submitted?(@year, @week) %>
                                <td class="td-record">&#x2713;</td>
                            <% else %>
                                <td class="td-record"><%= "--" %></td>
                            <% end %>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
