<script text="javascript">
    window.onload = function() {
        document.getElementById('picks-wrapper').style.height = "<%= (190 + ((@games.size - 1) / 3 * 161)).to_s + "px"  %>";
        $('#year').val(<%= @year %>)
    }

    function change_fooicide_url(value) {
        window.location.href = "fooicide?year=" + value;
    }
</script>

<%= flash[:notice] %>
<%= flash[:alert] %>
<%= form_tag({controller: :fooicide_picks, action: :update_picks}, method: "get", class: "nifty_form") do %>
    <div class="doc-wrapper">
      <%= render :partial => "fooicide_picks/header" %>
      <div class="pickem-standings">
        <%= render :partial => "fooicide_picks/standings" %>
      </div>
      <div class="picks-wrapper" id="picks-wrapper">
          <hr />
          <h2 style="margin-left:10px">Fooicide</h2>
          <% @games.try(:map) do |game| %>
          <div class="scorebox-wrapper">
            <div class="scorebox-header">
              <p class="score-date"><%= game.date.strftime("%a, %b %d") %>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= game.date.strftime("%I:%M %p") %></p>
            </div>
            <div class="scorebox" id="<%= @week %>">
              <% @pick = current_user.fooicide_pick_by_game(game) %>
              <% if game.in_progress_or_complete? && @pick.try(:team_id) == game.away_team.id %>
                <% if @pick.try(:win) == true %>
                    <div class="team-wrapper-win">
                        <div class="away-team-no-back">
                <% elsif @pick.try(:win) == false %>
                    <div class="team-wrapper-loss">
                        <div class="away-team-no-back">
                <% else %>
                    <div class="team-wrapper-picked">
                        <div class="away-team">
                <% end %>
              <% elsif game.in_progress_or_complete? && @pick.try(:team_id) != game.away_team.id %>
                    <div class="team-wrapper">
                        <div class="away-team">
              <% elsif !current_user.is_team_available?(@year, @week, game.away_team.id)%>
                  <div class="team-wrapper-not-available">
                    <div class="away-team">
              <% else %>
                  <div class="team-wrapper">
                    <div class="away-team">
              <% end %>
              <img class="team-logo" src="<%= image_path game.away_team.image %>">
              <div class="team-data">
                <div class="team-info">
                  <p class="team-record"><%= game.away_team.record_formatted(@year) %></p>
                  <p class="team-name"><%= game.away_team.name %></p>
                </div>
                <% if game.away_score.nil? && !game.in_progress_or_complete? && current_user.is_team_available?(@year, @week, game.away_team.id)%>
                <div class='pickem-radio-wrapper'>
                  <% if current_user.fooicide_pick_by_game(game).try(:team_id) == game.away_team.id %>
                    <%= radio_button_tag("week_#{@week}", game.away_team.id, true, class: "radio-pickem-pick") %>
                  <% else %>
                    <%= radio_button_tag("week_#{@week}", game.away_team.id, false, class: "radio-pickem-pick") %>
                  <% end %>
                </div>
              <% else %>
                <p class="team-score"><%= game.away_score %></p>
              <% end %>
              </div>
              </div>
              </div>
              <% if game.in_progress_or_complete? && @pick.try(:team_id) == game.home_team.id %>
                  <% if @pick.try(:win) == true %>
                      <div class="team-wrapper-win">
                        <div class="home-team-no-back">
                  <% elsif @pick.try(:win) == false %>
                      <div class="team-wrapper-loss">
                        <div class="away-team-no-back">
                  <% else %>
                      <div class="team-wrapper-picked">
                        <div class="home-team">
                  <% end %>
              <% elsif game.in_progress_or_complete? && @pick.try(:team_id) != game.home_team.id %>
                      <div class="team-wrapper">
                        <div class="home-team">
              <% elsif !current_user.is_team_available?(@year, @week, game.home_team.id) %>
                  <div class="team-wrapper-not-available">
                    <div class="home-team">
              <% else %>
                  <div class="team-wrapper">
                    <div class="home-team">
              <% end %>
              <img class="team-logo" src="<%= image_path game.home_team.image %>">
              <div class="team-data">
                <div class="team-info">
                  <p class="team-record"><%= game.home_team.record_formatted(@year) %></p>
                  <p class="team-name"><%= game.home_team.name %></p>
                </div>
                <% if game.home_score.nil? && !game.in_progress_or_complete? && current_user.is_team_available?(@year, @week, game.home_team.id) %>
                    <div class='pickem-radio-wrapper'>
                      <% if current_user.fooicide_pick_by_game(game).try(:team_id) == game.home_team.id %>
                          <%= radio_button_tag("week_#{@week}", game.home_team.id, true) %>
                      <% else %>
                          <%= radio_button_tag("week_#{@week}", game.home_team.id, false) %>
                      <% end %>
                    </div>
                <% else %>
                    <p class="team-score"><%= game.home_score %></p>
                <% end %>
              </div>
              </div>
              </div>
              </div>
              </div>
          <% end %>
      </div>
    </div>
    <div class='pickem-submit-button'>
      <% if !@games.empty? %>
        <%= submit_tag('Submit', :class => 'button btn btn-primary') %>
      <% end %>
  </div>
<% end %>
