<%= simple_form_for(@pickem_pick) do |f| %>
  <% if @pickem_pick.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pickem_pick.errors.count, "error") %> prohibited this pickem_pick from being saved:</h2>

      <ul>
      <% @pickem_pick.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :year, :input_html => {:value => Time.now.year} %>

    <%= f.input :week, :input_html => {:value => 1} %>

    <%= f.association :game, :label_method => lambda { |game| "#{game.year} | #{game.week} | #{game.away_team.try(:location)} | #{game.home_team.try(:location)}" } %>

    <%= f.association :user %>

    <%= f.association :team, label_method: :location, collection: Team.all(order: 'location'), prompt: "Team" %>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
