<div data-role="collapsible" data-theme="b" data-content-theme="b">
  <h4>Standings</h4>
  <table data-role="table" id="standings-table-custom" data-mode="reflow" class="ui-responsive standings-table">
    <thead>
        <tr>
          <th data-priority="1">User</th>
          <th style="width:40%">Week</th>
          <th data-priority="2">Overall</th>
          <th data-priority="3">Balance</th>
          <th data-priority="4">Submitted Amount</th>
        </tr>
    </thead>
    <tbody>
        <% @users.map do |user| %>
            <tr class="<%= user.id == current_user.id ? "highlighted" : "" %>">
              <% if user.name.nil? %>
                  <td  class="<%= user.id == current_user.id ? "title highlighted" : "title" %>"><%= user.email %></td>
              <% else %>
                  <td  class="<%= user.id == current_user.id ? "title highlighted" : "title" %>"><%= user.name %></td>
              <% end %>
              <td><%= user.pickem_picks_record_by_year_and_week(@year, @week) %></td>
              <td><%= user.pickem_picks_record_by_year(@year) %></td>
              <td><a href="<%= "/user_wagers/#{@year}/#{user.id}" %>"><%= user.find_balance_by_year(@year) %></a></td>
              <td><a href="<%= "/user_wagers/#{@year}/#{@week}/#{user.id}" %>">
                    <%= user.find_submitted_balance_by_year_and_week(@year, @week) %></a></td>
            </tr>
        <% end %>
    </tbody>
  </table>
</div>