<h1>Listing Pickem Picks</h1>

<table>
  <tr>
    <th>Year</th>
    <th>Week</th>
    <th>User</th>
    <th>Win</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @pickem_picks.each do |pickem_pick| %>
      <tr>
        <td><%= pickem_pick.year %></td>
        <td><%= pickem_pick.week %></td>
        <td><%= pickem_pick.user.try(:name) %></td>
        <td><%= pickem_pick.win %></td>
        <td><%= link_to 'Show', pickem_pick %></td>
        <td><%= link_to 'Edit', edit_pickem_pick_path(pickem_pick) %></td>
        <td><%= link_to 'Destroy', pickem_pick, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Pickem Pick', new_pickem_pick_path %>
