<%= flash[:notice] %>
<%= flash[:alert] %>
<%= form_tag({controller: :pickem_picks, action: :update_picks}, method: "get", class: "nifty_form") do %>
	<div class="doc-wrapper">
	<%= render :partial => "pickem_picks/header" %>
	<h3>NFL Scores</h3>
	<% @games.try(:map) do |game| %>
		<div class="scorebox-wrapper">
			<div class="scorebox-header">
				<p class="score-date"><%= game.date.strftime("%a, %b %d") %></p>
			</div>
			<div class="scorebox" id="1">	
				<div class="team-wrapper">
					<div class="away-team">
						<img class="team-logo" src="<%= game.away_team.image %>">
						<div class="team-data">
							<div class="team-info">
								<p class="team-record"><%= game.away_team.record_formatted(@year) %></p>
								<p class="team-name"><%= game.away_team.name %></p>
							</div>
							<% if game.away_score.nil? %>
								<% if current_user.pickem_pick_by_game(game).try(:team_id) == game.away_team.id %>
									<%= radio_button_tag("game_#{game.id}", game.away_team.id, true) %>
								<% else %>
									<%= radio_button_tag("game_#{game.id}", game.away_team.id, false) %>
								<% end %>
							<% else %>
								<p class="team-score"><%= game.away_score %></p>
							<% end %>
						</div>
					</div>
				</div>
				<div class="team-wrapper">
					<div class="home-team">
						<img class="team-logo" src="<%= game.home_team.image %>">
						<div class="team-data">
							<div class="team-info">
								<p class="team-record"><%= game.home_team.record_formatted(@year) %></p>
								<p class="team-name"><%= game.home_team.name %></p>
							</div>
							<% if game.home_score.nil? %>
								<% if current_user.pickem_pick_by_game(game).try(:team_id) == game.home_team.id %>
									<%= radio_button_tag("game_#{game.id}", game.home_team.id, true) %>
								<% else %>
									<%= radio_button_tag("game_#{game.id}", game.home_team.id, false) %>
								<% end %>
							<% else %>
								<p class="team-score"><%= game.home_score %></p>
							<% end %>
						</div>
					</div>
				</div>
			</div>
			<div class="scoreboard-footer">
				<div class="team-line">
					<%= "Line: #{game.line}" %>
				</div>
			</div>
		</div>
	<% end %>
	</div>
	<div>
		<% if !@games.empty? %>
			<%= submit_tag('Submit', :class => 'btn btn-primary') %>
		<% end %>
	</div>
<% end %>
