<script text="javascript">
    window.onload = function() {
        document.getElementById('picks-wrapper').style.height = "<%= (220 + ((@games.size - 1) / 3 * 194)).to_s + "px"  %>";
        $('#year').val(<%= @year %>);
    }

    function updateAccountAmount(textbox) {
        var amount = 0.0;
        var previousAmount = 0.0;
        var currentAmount = 0.0

        if(parseFloat(textbox.value) < 0) {
            alert("Value must be positive.");
            textbox.value = Math.abs(textbox.value);
        }

        if(textbox.oldvalue != "") {
            previousAmount = parseFloat(textbox.oldvalue)
        }
        if(textbox.value != "") {
            currentAmount = parseFloat(textbox.value)
        }

        amount = currentAmount - previousAmount;
        if(!$.isNumeric(textbox.value)){
            alert("Value must be a number.");
            textbox.value = textbox.oldvalue;
        }else if((parseFloat($('#account-amount').text()) - amount < 0)) {
            alert("Current Holdings cannot go below $0.");
            textbox.value = textbox.oldvalue;
        } else {
            $('#account-amount').text((parseFloat($('#account-amount').text()) - amount).toFixed(2));
        }
    }
</script>

<%= flash[:notice] %>
<%= flash[:alert] %>
<%= form_tag({controller: :pickem_picks, action: :update_picks}, method: "get", class: "nifty_form") do %>
    <div class="doc-wrapper">
      <%= render :partial => "pickem_picks/header" %>
      <div class="pickem-standings">
        <%= render :partial => "pickem_picks/standings" %>
      </div>

      <div class="picks-wrapper" id="picks-wrapper">
          <hr />
          <h2 style="margin-left: 10px">Pigskin Pick'em</h2>
          <% @games.try(:map) do |game| %>
                  <div class="pickem-scorebox-wrapper">
                <div class="scorebox-header">
                  <p class="score-date"><%= game.date.strftime("%a, %b %d") %>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <%= game.date.strftime("%I:%M %p") %></p>
                </div>
                <div class="scorebox" id="<%= @week %>">
                  <% @pick = current_user.pickem_pick_by_game(game) %>
                  <% if game.in_progress_or_complete? && @pick.try(:team_id) == game.away_team.id %>
                      <% if @pick.try(:win) == true %>
                          <div class="team-wrapper-win">
                            <div class="away-team-no-back">
                      <% elsif @pick.try(:tie) == true %>
                          <div class="team-wrapper-picked-tie">
                            <div class="away-team-no-back">
                      <% elsif @pick.try(:win) == false %>
                          <div class="team-wrapper-loss">
                            <div class="away-team-no-back">
                      <% else %>
                          <div class="team-wrapper-picked">
                            <div class="away-team">
                      <% end %>
                  <% elsif game.in_progress_or_complete? && @pick.try(:team_id) != game.away_team.id %>
                      <% if @pick.try(:tie) == true %>
                          <div class="team-wrapper-tie">
                            <div class="away-team-no-back">
                      <% else %>
                          <div class="team-wrapper">
                            <div class="away-team">
                      <% end %>
                  <% else %>
                      <div class="team-wrapper">
                        <div class="away-team">
                  <% end %>
                  <img class="team-logo" src="<%= asset_path game.away_team.image %>">
                  <div class="team-data">
                    <div class="team-info">
                      <p class="team-record"><%= game.away_team.record_formatted(@year) %></p>
                      <p class="team-name"><%= game.away_team.name %></p>
                    </div>
                    <% if game.away_score.nil? && !game.in_progress_or_complete? %>
                        <div class='pickem-radio-wrapper'>
                          <% if current_user.pickem_pick_by_game(game).try(:team_id) == game.away_team.id %>
                              <%= radio_button_tag("game_#{game.id}", game.away_team.id, true, class: "radio-pickem-pick") %>
                          <% else %>
                              <%= radio_button_tag("game_#{game.id}", game.away_team.id, false, class: "radio-pickem-pick") %>
                          <% end %>
                        </div>
                    <% elsif game.away_score.nil? && game.in_progress_or_complete? && current_user.pickem_pick_by_game(game).try(:team_id) == game.away_team.id %>
                        <p class="team-score">&#x2713;</p>
                    <% else %>
                        <p class="team-score"><%= game.away_score %></p>
                    <% end %>
                  </div>
                  </div>
                  </div>
                  <% if game.in_progress_or_complete? && @pick.try(:team_id) == game.home_team.id %>
                      <% if @pick.try(:win) == true %>
                          <div class="team-wrapper-win">
                            <div class="home-team-no-back">
                      <% elsif @pick.try(:tie) == true %>
                          <div class="team-wrapper-picked-tie">
                            <div class="home-team-no-back">
                      <% elsif @pick.try(:win) == false %>
                          <div class="team-wrapper-loss">
                            <div class="home-team-no-back">
                      <% else %>
                          <div class="team-wrapper-picked">
                            <div class="home-team">
                      <% end %>
                  <% elsif game.in_progress_or_complete? && @pick.try(:team_id) != game.home_team.id %>
                      <% if @pick.try(:tie) == true %>
                          <div class="team-wrapper-tie">
                            <div class="home-team-no-back">
                      <% else %>
                          <div class="team-wrapper">
                            <div class="home-team">
                      <% end %>
                  <% else %>
                      <div class="team-wrapper">
                        <div class="home-team">
                  <% end %>
                  <img class="team-logo" src="<%= asset_path game.home_team.image %>">
                  <div class="team-data">
                    <div class="team-info">
                      <p class="team-record"><%= game.home_team.record_formatted(@year) %></p>
                      <p class="team-name"><%= game.home_team.name %></p>
                    </div>
                    <% if game.home_score.nil? && !game.in_progress_or_complete? %>
                        <div class='pickem-radio-wrapper'>
                          <% if current_user.pickem_pick_by_game(game).try(:team_id) == game.home_team.id %>
                              <%= radio_button_tag("game_#{game.id}", game.home_team.id, true) %>
                          <% else %>
                              <%= radio_button_tag("game_#{game.id}", game.home_team.id, false) %>
                          <% end %>
                        </div>
                    <% elsif game.home_score.nil? && game.in_progress_or_complete? && current_user.pickem_pick_by_game(game).try(:team_id) == game.home_team.id %>
                        <p class="team-score">&#x2713;</p>
                    <% else %>
                        <p class="team-score"><%= game.home_score %></p>
                    <% end %>
                  </div>
                  </div>
                  </div>
                  </div>
                  <div class="pickem-scoreboard-footer">
                    <div class="team-line">
                      <div class="line-wrapper">
                        <span class="line-box">
                          <% if !game.line.nil? && game.line != 0 %>
                              <%= "Line: #{game.line}" %>
                              <% if @pick.try(:recommended) %>
                                <img style="float:right" width="20" height="20" src="<%= asset_path "star.png" %>">
                              <% end %>
                          <% else %>
                              <%= "Line: Even" %>
                          <% end %>
                        </span>
                        $<%= text_field_tag "wager_#{game.id}", Wager.find_amount_by_user_id_and_game_id(current_user.id, game.id), \
                                            onfocus: "this.oldvalue = this.value;", onchange: "updateAccountAmount(this);this.oldvalue = this.value", \
                                            maxlength: 5, class: 'wager-input', disabled: game.in_progress_or_complete? %>
                      </div>
                    </div>
                  </div>
                  </div>
          <% end %>
      </div>
    </div>
    <div class='pickem-submit-button'>
        <% if !@games.empty? %>
            <%= submit_tag('Submit', :class => 'button btn btn-primary') %>
        <% end %>
    </div>
<% end %>
