<script text="javascript">
    window.onload = function() {
        $("#select-native-1-button span").text("Year: <%= @year %>");
        $('#select-native-1').val("<%= @year %>");

        var divs = $("div");
        $('.pickem-submit-button').find('div').addClass("ui-btn-b");
    }

    function change_pickem_url(value) {
        window.location.href = "pickem?year=" + value;
    }

    function updateAccountAmount(textbox) {
        var amount = 0.0;
        var previousAmount = 0.0;
        var currentAmount = 0.0;

        textbox.value = parseInt(textbox.value);

        if(parseInt(textbox.value) < 0) {
            alert("Value must be positive.");
            textbox.value = Math.abs(textbox.value);
        }

        if(textbox.oldvalue != "") {
            previousAmount = parseInt(textbox.oldvalue)
        }
        if(textbox.value != "") {
            currentAmount = parseInt(textbox.value)
        }

        amount = currentAmount - previousAmount;
        if(!$.isNumeric(textbox.value)){
            alert("Value must be a number.");
            textbox.value = textbox.oldvalue;
        }else if((parseInt($('#account-amount').text().replace(/[^0-9.]*/gi, '')) - amount < 0)) {
            alert("Current Holdings cannot go below $0.");
            textbox.value = textbox.oldvalue;
        } else {
            $('#account-amount').text('$' + (parseInt($('#account-amount').text().replace(/[^0-9.]*/gi, '')) - amount).toFixed(2));
        }
    }
</script>

<%= flash[:notice] %>
<%= flash[:alert] %>

<%= form_tag({controller: :pickem_picks, action: :update_picks}, method: "get", class: "nifty_form") do %>
    <div class="doc-wrapper">
      <%= render :partial => "pickem_picks/header" %>
      <div class="pickem-standings">
        <%= render :partial => "pickem_picks/standings" %>
      </div>
      <span id="account-amount" style="display:none"><%= current_user.find_balance_by_year(@year)%></span>
      <div class="ui-corner-all custom-corners">
        <div class="ui-bar ui-bar-b">
          <h3>Games this week</h3>
        </div>
        <div class="ui-body ui-body-b">
          <% @games.try(:map) do |game| %>
            <% @pick = current_user.pickem_pick_by_game(game) %>
            <div class="ui-corner-all custom-corners">
              <div class="ui-bar ui-bar-b">
                <h4><%= game.date.strftime("%a, %b %d") %>&nbsp;&nbsp;&nbsp;&nbsp;<%= game.date.strftime("%I:%M %p") %></h4>
              </div>
              <div class="ui-body ui-body-b">
                <div class="ui-grid-solo">
                    <div class="<%= @pick.nil? ? "ui-grid-b" : @pick.team_id == game.away_team_id && @pick.win == true ? "ui-grid-b game-win" : \
                                    @pick.team_id == game.away_team_id && @pick.tie == true ? "ui-grid-b game-tie" : \
                                    @pick.team_id == game.away_team_id && @pick.win == false ? "ui-grid-b game-loss" : "ui-grid-b" %>">
                        <div class="ui-block-a">
                            <img class="team-logo" src="<%= image_path game.away_team.image %>">
                        </div>
                        <div class="ui-block-b">
                            <div class="team-info"><%= game.away_team.name %></div>
                            <div class="team-info"><%= game.away_team.record_formatted(@year) %></div>
                        </div>
                        <% @game_picked = @pick.try(:team_id) == game.away_team.id %>
                        <div class="ui-block-c">
                            <%= radio_button_tag("game_#{game.id}", game.away_team.id, \
                                @game_picked, \
                                {disabled: game.in_progress_or_complete?, style: "margin: 12px 0 0 0"}) %>
                            <h3 class="game-score"><%= game.away_score %></h3>
                            <a href="#" style="margin: 0 auto; display:<%= game.in_progress_or_complete? && @game_picked && game.away_score.nil? ? "" : "none" %>" \
                                class="ui-btn ui-shadow ui-corner-all ui-icon-lock ui-btn-icon-notext"></a>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-solo">
                  <div class="<%= @pick.nil? ? "ui-grid-b" : @pick.team_id == game.home_team_id && @pick.win == true ? "ui-grid-b game-win" : \
                                    @pick.team_id == game.home_team_id && @pick.tie == true ? "ui-grid-b game-tie" : \
                                    @pick.team_id == game.home_team_id && @pick.win == false ? "ui-grid-b game-loss" : "ui-grid-b" %>">
                        <div class="ui-block-a">
                            <img class="team-logo" src="<%= image_path game.home_team.image %>">
                        </div>
                        <div class="ui-block-b">
                          <div class="team-info"><%= game.home_team.name %></div>
                          <div class="team-info"><%= game.home_team.record_formatted(@year) %></div>
                        </div>
                      <% @game_picked = @pick.try(:team_id) == game.home_team.id %>
                        <div class="ui-block-c">
                            <%= radio_button_tag("game_#{game.id}", game.home_team.id, \
                                @game_picked, \
                                {disabled: game.in_progress_or_complete?, style: "margin: 12px 0 0 0"}) %>
                            <h3 class="game-score"><%= game.home_score %></h3>
                            <a href="#" style="margin: 0 auto; display:<%= game.in_progress_or_complete? && @game_picked && game.home_score.nil? ? "" : "none" %>" \
                                class="ui-btn ui-shadow ui-corner-all ui-icon-lock ui-btn-icon-notext"></a>
                        </div>
                    </div>
                </div>
                <div class="ui-grid-solo">
                  <div class="ui-corner-all custom-corners">
                    <div class="ui-bar ui-bar-b">
                        <h5 >Line: <%= game.line.nil? ? "Even" : game.line %></h5>
                    </div>
                    <div class="ui body ui-body-b">
                      <div class="ui-grid-a">
                          <div class="ui-block-a">
                            <h5>Wager Amount: </h5>
                          </div>
                          <div class="ui-block-b">
                              <%= number_field_tag "wager_#{game.id}", Wager.find_amount_by_user_id_and_game_id(current_user.id, game.id), \
                                                onfocus: "this.oldvalue = this.value;", onchange: "updateAccountAmount(this);this.oldvalue = this.value", \
                                                maxlength: 5, class: 'wager-input', disabled: game.in_progress_or_complete?, \
                                                style: "border: 2px solid #dadada; border-radius: 7px;" %>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
      </div>
    </div>
    <div class='pickem-submit-button'>
        <% if !@games.empty? %>
            <%= submit_tag('Submit', :class => 'button btn btn-primary btn-b') %>
        <% end %>
    </div>
<% end %>
