<%= simple_form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :year, :input_html => {:value => 2013} %><br />
	
    <%= f.input :week, :input_html => {:value => 1} %><br />
	
    <%= f.association :away_team, label_method: :location, collection: Team.all(order: 'location'), prompt: "Away Team" %><br />
	
    <%= f.association :home_team, label_method: :location, collection: Team.all(order: 'location'), prompt: "Home Team" %><br />
	
    <%= f.input :location %><br />
	
    <%= f.input :line %><br />
	
    <%= f.input :home_score %><br />
	
    <%= f.input :away_score %><br />
	
    <%= f.input :date %><br />

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
