<div class="doc-wrapper">
<%= render :partial => "games/header" %>
<h2>NFL Scores</h2>
<% @games.try(:map) do |game| %>
	<div class="scorebox-wrapper">
		<div class="scorebox-header">
			<p class="score-date"><%= game.date.strftime("%a, %b %d") %>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <%= game.date.strftime("%I:%M %p") %></p>
		</div>
		<div class="scorebox" id="1">
            <% if !game.away_score.nil? && !game.home_score.nil? && game.away_score > game.home_score %>
			    <div class="team-wrapper-picked">
            <% else %>
              <div class="team-wrapper">
            <% end %>
				<div class="away-team">
					<img class="team-logo" src="<%= asset_path game.away_team.image %>">
					<div class="team-data">
						<div class="team-info">
							<p class="team-record"><%= game.away_team.record_formatted(@year) %></p>
							<p class="team-name"><%= game.away_team.name %></p>
						</div>
						<% if game.away_score.nil? %>
							<p class="team-score"><%= "--" %></p>
						<% else %>
							<p class="team-score"><%= game.away_score %></p>
						<% end %>
					</div>
				</div>
			</div>
            <% if !game.away_score.nil? && !game.home_score.nil? && game.home_score > game.away_score %>
                <div class="team-wrapper-picked">
            <% else %>
                <div class="team-wrapper">
            <% end %>
				<div class="home-team">
					<img class="team-logo" src="<%= asset_path game.home_team.image %>">
					<div class="team-data">
						<div class="team-info">
							<p class="team-record"><%= game.home_team.record_formatted(@year) %></p>
							<p class="team-name"><%= game.home_team.name %></p>
						</div>
						<% if game.home_score.nil? %>
							<p class="team-score"><%= "--" %></p>
						<% else %>
							<p class="team-score"><%= game.home_score %></p>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>
</div>