<p id="notice"><%= notice %></p>

<p>
  <b>Year:</b>
  <%= @thirty_eight.year %>
</p>

<p>
  <b>Team:</b>
  <%= @thirty_eight.team_id %>
</p>

<p>
  <b>User:</b>
  <%= @thirty_eight.user_id %>
</p>

<p>
  <b>Shares:</b>
  <%= @thirty_eight.shares %>
</p>


<%= link_to 'Edit', edit_thirty_eight_path(@thirty_eight) %> |
<%= link_to 'Back', thirty_eights_path %>
