<div class="ui-corner-all custom-corners">
  <div class="ui bar ui-bar-b">
    <% year = Date.today.year %>
    <% standings = WinPoolLeague.first.standings(year) %>
    <h2>Standings</h2>
  </div>
  <div class="ui-body ui-body-b">
    <table data-role="table" id="standings-table-custom" data-mode="reflow" class="ui-responsive standings-table">
      <thead>
        <tr>
          <th data-priority="1">Rank</th>
          <th data-priority="persist">User</th>
          <th data-priority="2">Total Wins</th>
          <th data-priority="3">First Team</th>
          <th data-priority="4">Second Team</th>
          <th data-priority="5">Third Team</th>
        </tr>
      </thead>
      <tbody>
      <% standings.each_with_index do |pick, index| %>
          <tr class="<%= pick.user.id == current_user.id ? "highlighted" : "" %>">
            <td class="<%= pick.user.id == current_user.id ? "title highlighted" : "title" %>"><%= index + 1 %></td>
            <td><%= pick.user.name %></td>
            <td><%= pick.team_one.try(:wins_by_year,year).to_i + pick.team_two.try(:wins_by_year,year).to_i + pick.team_three.try(:wins_by_year,year).to_i %></th>
            <td><%= "#{pick.team_one.name} - #{pick.team_one.wins_by_year(year)}" %></td>
            <td><%= "#{pick.team_two.name} - #{pick.team_two.wins_by_year(year)}" %></td>
            <td><%= "#{pick.team_three.name} - #{pick.team_three.wins_by_year(year)}" %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>