<div data-role="header" data-theme="b">
  <h1><%= @mobile_header %></h1>
  <% if user_signed_in? %>
      <a href="#popupMenu" data-rel="popup" data-transition="slideup" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-gear ui-btn-right ui-btn-icon-right ui-btn-b">Actions...</a>
      <div data-role="popup" id="popupMenu" data-theme="b">
        <ul data-role="listview" data-inset="true" style="min-width:210px;">
          <li data-role="list-divider">Choose an action</li>
          <li><a href="/users/edit">Edit User</a></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, {:method => :delete, :"data-ajax" => "false", :'data-icon' => "gear"} %></li>
        </ul>
      </div>
  <% else %>
      <%= link_to 'Sign In', "/users/sign_in", {:class => "ui-btn-right", :'data-icon' => "gear"} %>
  <% end %>
  <div data-role="navbar" data-grid="c" data-theme="b">
    <ul>
      <!--<li><%= link_to 'Home', "/home", :class => "#{request.fullpath.include?("/home") ? "ui-btn-active" : ""}" %></li>-->
      <li><%= link_to 'Pickem', "/pickem", :class => "#{request.fullpath.include?("/pickem") ? "ui-btn-active" : ""}" %></li>
      <li><%= link_to 'Fooicide', "/fooicide", :class => "#{request.fullpath.include?("/fooicide") ? "ui-btn-active" : ""}" %></li>
      <li><%= link_to 'Win Pool', "/winpool/2", :class => "#{request.fullpath.include?("/winpool") ? "ui-btn-active" : ""}" %></li>
      <li><%= link_to 'Baseball', baseball_path, method: :get, :class => "#{request.fullpath.include?("/baseball") ? "ui-btn-active" : ""}" %></li>
    </ul>
  </div>
</div>