<!DOCTYPE html>
<html>
<head>
  <title>Foo-nation Football</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <% if Rails.env.production? %>
      <%= render :partial => "layouts/ga" %>
  <% end %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body style="background-color: #011226">
<div class="global">
  <p>
    <% if mobile_device? %>
        <%= link_to "Full Site", :mobile => 0 %>
    <% else %>
        <%= link_to "Mobile Site", :mobile => 1 %>
    <% end %>
  </p>
	<%= render :partial => "layouts/main_header" %>
</div>
<div class="doc">
	<%= yield %>
</div>
</body>
</html>
