<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Foo-nation</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <%= stylesheet_link_tag "/jquery.mobile-1.4.2/jquery.mobile-1.4.2.min", "mobile" %>
        <%= javascript_include_tag "application" %>
        <%= javascript_include_tag "/jquery.mobile-1.4.2/jquery-1.9.1.min.js", "/jquery.mobile-1.4.2/jquery.mobile-1.4.2.min" %>
        <% if Rails.env.production? %>
          <%= render :partial => "layouts/ga" %>
        <% end %>
        <%= csrf_meta_tag %>
        <%= favicon_link_tag 'favicon.ico?v=2' %>
    </head>
    <body>
        <div class="mobile-header">
            <%= render :partial => "layouts/main_header" %>
        </div>
        <div>
            <%= yield %>
        </div>
        <div style="text-align:center;">
          <%= link_to "Full Site", {:mobile => 0}, :rel => "external" %>
        </div>
    </body>
</html>