<!DOCTYPE html>
<html>
<head>
  <title>Whiteboard</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="global">
	<%= render :partial => "layouts/main_header" %>
</div>
<div class="doc">
	<%= yield %>
</div>
</body>
</html>
